<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494819816258-jm1hl4ikr1mqf1fjf6tm4ir8defk8rv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494819816258-jm1hl4ikr1mqf1fjf6tm4ir8defk8rv9</string>
	<key>API_KEY</key>
	<string>AIzaSyD5kyIZW4d7ywxhztJ2p08sJ7dVe1P7_nw</string>
	<key>GCM_SENDER_ID</key>
	<string>494819816258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jgc.Swift-FireMapsCore-JGC</string>
	<key>PROJECT_ID</key>
	<string>firecoremaps</string>
	<key>STORAGE_BUCKET</key>
	<string>firecoremaps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494819816258:ios:3555044e07b7326b65cedb</string>
	<key>DATABASE_URL</key>
	<string>https://firecoremaps.firebaseio.com</string>
</dict>
</plist>